{% extends "base.html" %}
{% block title %}Login - LMS{% endblock %}
{% block content %}
<!--
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
</form> -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>

                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="{% url 'register' %}" class="text-primary">Sign up</a></p>
                    </div>

                      <h3 class="row justify-content-center"> OR </h3>
                        
                    
                        <button type="submit" class="btn btn-primary w-100" onclick="location.href='{% provider_login_url 'google' %}'">
                            <i class="fa-brads fa-google googleicon"></i>
                            Continue with Google</button> 
                               

                  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
